/* ------------- GENERAL ------------ */
:root {
    --pink: #EA047E;
    --orange: #FF6D28;;
    --yellow: #FCE700;
    --blue: #01AAFF;
    --light-blue: #00F5FF;
    --white: #fdfbf9;
    --shadow: #000000;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--orange);
    justify-content: space-between;
}
button {
    border: none;
    /* box-shadow:  0em 0em 0.5em var(--shadow); */
    border-radius: 2em;
    color: var(--yellow);
    background-color: var(--blue);
    padding: 1em;
    font-weight: bolder;
}
button:hover {
    color: var(--white);
    background-color: #00F5FF;
}
h2 {
    color: var(--pink)
}
hr {
    width: 50%;
    border: solid 0.02rem;
    color: var(--pink);
    box-shadow: 0 3px 10px var(--pink);
}
.hidden {
    visibility: hidden;
}

/* ------------- NAV BAR ------------ */
header {
    width: 100vw;
    box-shadow: 0 3px 10px var(--pink);
}
nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 4.5rem;
    background-color: var(--orange);

}
nav div {
    display: flex;
    flex-direction: row;
}
nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
nav a:hover {
    color: var(--orange);
    text-shadow: 0.3em 0.3em 0em var(--shadow) (0,0,0,0.6);
}
a.logo img {
    width: 14rem;
    position: relative;
    top: 5rem;
    left: 1rem;
    filter: drop-shadow(5px 5px 8px var(--yellow));
}
a.header-graphics img {
    width: 8rem;
    filter: drop-shadow(3px 3px 2px var(--pink));
}

#news::before {
    content: url(./images/Dates\ 2.svg);
    width: 8em;
    height: 8em;
    padding-top: 3.5em;
    filter: drop-shadow(3px 3px 2px var(--pink));
}
#music::before {
    content: url(./images/Music\ 1.svg);
    width: 8em;
    height: 8em;
    padding-top: 3.5em;
    filter: drop-shadow(3px 3px 2px var(--pink));
}
#merch::before { /* shop */
    content: url(./images/Shop\ 1.svg);
    width: 8em;
    height: 8em;
    padding-top: 3.5em;
    filter: drop-shadow(3px 3px 2px var(--pink));
}
#contact::before {
    content: url(./images/Contact\ 1.svg);
    width: 8em;
    height: 8em;
    padding-top: 3.5em;
    filter: drop-shadow(3px 3px 2px var(--pink));
}

/* ------------- MAIN ------------ */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}
main p {
    color: var(--yellow);
}

/* -------- contact.html --------- */
form#contact-form {
    display: flex;
    color: var(--yellow);
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}
form#newsletter {
    display: flex;
    color: var(--yellow);
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
/* input[type=email]  */
input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    height: 2.5em;
    border: none;
    border-radius: 5em;
    border-bottom: 0.em solid var(--pink);
    padding: 1em;
    margin: 0.5em 0em;
    color: var(--pink);
    max-width: 75ch;
}
textarea {
resize: vertical;
color: var(--pink);
font-size: 16px;
font-size: max(16px, 1em);
font-family: inherit;
border: none;
border-radius: 1em;
border-bottom: 0.em solid var(--pink);
padding: 1em;
margin: 0.5em;
color: var(--pink);
}
/* ----------- dates / news ----------- */
#dates {
    color: var(--yellow);
}
#dates td {
    padding: 0.5em;
}

/* ------------ music.html ----------- */
audio[controls] {
background-color: var(--pink);
border-radius: 3em;
}
.headline {
    width: 10em;
    filter: drop-shadow(3px 3px 2px var(--pink));
    
}
/* size not working properly */
/* #contact::before {
    content: url(./images/Contact\ 1.svg);
    width: 8rem;
    height: 8rem;
    padding-top: 3.5em;
    filter: drop-shadow(3px 3px 2px var(--pink));
} */


/* ------------- FOOTER ------------ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4rem;
    background-color: var(--orange);
}
footer a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
footer a:hover {
    color: var(--yellow);
    text-shadow: 0.3em 0.3em 0em var(--shadow) (0,0,0,0.6);
}