/* ------------- GENERAL ------------ */
:root {
    --pink: #EA047E;
    --orange: #FF6D28;;
    --yellow: #FCE700;
    --blue: #01AAFF;
    --light-blue: #00F5FF;
    --background: #09000e;
    --white: #fdfbf9;
    --shadow: #000000;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    justify-content: space-between;
    color: var(--white);
}
button {
    border: none;
    /* box-shadow:  0em 0em 0.5em var(--shadow); */
    border-radius: 2em;
    color: var(--yellow);
    background-color: var(--blue);
    padding: 1em;
    font-weight: bolder;
}
button:hover {
    color: var(--white);
    background-color: #00F5FF;
}
h1 {
    color: var(--white);
    margin: 0.6em 0 0.6em 0;
}
h2 {
    color: var(--pink);
    margin: 0.6em 0;
}
h3 {
    margin: 0.6em 0 1em 0;
}
hr {
    width: 50%;
    border: solid 0.02rem;
    color: var(--pink);
    box-shadow: 0 3px 10px var(--pink);
}
a {
    text-decoration: none;
    color: var(--white);
    font-weight: normal;
}
a:hover {
    color: var(--yellow);
}
.hidden {
    visibility: hidden;
}

/* ------------- NAV BAR ------------ */
header {
    width: 100vw;
}
nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 4.5rem;
    background-color: var(--background);
}
nav a {
    text-decoration: none;
    color: var(--blue);
    font-weight: bold;
    min-height: 4rem;
}
nav a.logo {
    float: left;
    margin-bottom: -10%;
    padding: 0.5rem;
    /*filter: drop-shadow(2px 0px 10px var(--yellow));*/
}
nav a.logo img {
    width: 14rem;
    height: auto;
}
a.header-graphics img {
    background-size: contain;
    width: 8rem;
    filter: drop-shadow(3px 3px 10px var(--pink));
>>>>>>> main
}

/* ------------- MAIN ------------ */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
main p {
    color: var(--yellow);
}

/* -------- contact.html --------- */
form#contact-form {
    display: flex;
    color: var(--yellow);
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}
form#newsletter {
    display: flex;
    color: var(--yellow);
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}
input {
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    height: 2.5em;
    border: none;
    border-radius: 5em;
    border-bottom: 0.em solid var(--pink);
    padding: 1em;
    margin: 0.5em 0em;
    color: var(--pink);
    max-width: 75ch;
}
textarea {
    resize: vertical;
    color: var(--pink);
    font-size: 16px;
    font-size: max(16px, 1em);
    font-family: inherit;
    border: none;
    border-radius: 1em;
    border-bottom: 0.em solid var(--pink);
    padding: 1em;
    margin: 0.5em;
    color: var(--pink);
}

/* ----------- dates / news ----------- */
table {
    font-size: large;
    border-spacing: 1em 0.1em;
}
#dates {
    color: var(--yellow);
}
#dates td {
    padding: 0.5em;
}

/* ------------ music.html ----------- */
audio[controls] {
    background-color: var(--pink);
    border-radius: 3em;
}
th {
    color: var(--yellow);
}
.headline {
    width: 10em;
    filter: drop-shadow(3px 3px 2px var(--pink));
}

/* ------------ datenschutz.html ----------- */
section.datenschutz {
    max-width: 75ch;
}

/* ------------- FOOTER ------------ */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4rem;
    background-color: var(--background);
}
footer a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
    margin: 0 0.8em;
}
footer a:hover {
    color: var(--yellow);
    text-shadow: 0.3em 0.3em 0em var(--shadow) (0,0,0,0.6);
}
/* ------------- MEDIA QUERIES ------------ */
@media only screen and (max-width: 916px) and (orientation:portrait) {

    /* ------------- NAV BAR ------------ */
    a.logo img {
        max-width: 7rem;
        flex-shrink: 1;
        filter: drop-shadow(5px 5px 8px var(--yellow));
    }
    a.header-graphics img {
        max-width: 7rem;
        flex-shrink: 1;
        filter: drop-shadow(3px 3px 2px var(--pink));
    }
}
