:root {
    --pink: #EA047E;
    --orange: #FF6D28;
    --yellow: #FCE700;
    --blue: #00F5FF;
    --white: #fdfbf9;
    --shadow: #000000;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--yellow);
    justify-content: space-between;
}

/* ------------- NAV BAR ------------ */
nav {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 15%;
    background-color: var(--pink);
}
nav container {
    display: flex;
    justify-content: space-around;
    width: 100vh;
    flex-direction: row;
}
nav container div {
   flex-direction: row;
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
nav a:hover {
    color: var(--orange);
    text-shadow: 0.3em 0.3em 0em var(--shadow) (0,0,0,0.6);
}
a.logo img {
    width: 5rem;
    position: relative;
    top: 2rem;
    left: 1rem;
}
#news::before {
    content: url(./images/music-solid.svg);
    color: var(--blue);
}

main {
    display: flex;
    flex-direction: row;
    max-height: 100px;
    width: 100px;
    background-color: var(--blue);
}
footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 3rem;
    background-color: var(--orange);
}